body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #34b4eb;
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  main {
    margin: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h1, h2 {
    color: #34b4eb;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  footer {
    background-color: #34b4eb;
    padding: 10px;
    text-align: center;
    color: white;
  }
  .images {
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;


  }
